* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.counter_app {
  display: flex;
  gap: 20px;
  padding: 50px;
  background-color: darkseagreen;
  color: #fff;
  font-size: 40px;
  justify-content: center;
  align-content: center;

}

.counter_app button {
  padding: 10px;
  cursor: pointer;
}

.posts {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.posts div {
  max-width: 300px;
  width: 100%;
  background-color: burlywood;
  padding: 20px;
}